<div class="clearfix"></div>
<!-- about section-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <div class="about">
                    <div class="heading">
                        <h1>Bienvenue  chez<span class="yellow"> ABMS</span></h1>
                    </div>
                    <p class="dart-fs-18"><em>AB MALI SEVRICES est une entreprise multiservices fondée par Moussa Dembélé et Yahiya Touré.</em></p>
                    <p>Après plus de 10 ans d’expériences en France, Ils ont décidé de s’implanter au Mali afin de mettre leurs compétences aux services de la diaspora.</p>
                    <p>Aujourd’hui ABMS développe ses activités immobilières avec la construction de vos biens immobiliers ainsi que les travaux d’embellissement.
                        L’import et le transport de produits dédiés au BTP a également été mis en service début 2019.</p>
                </div>
                <div class="highlight">
                    <div class="icon_box_hexa">
                        <div class="ibox_hexagon">
                            <i class="fa fa-object-ungroup"></i>
                        </div>
                        <a href="#" target="_blank">
                            <h3>design</h3>
                        </a>
                    </div>
                    <div class="icon_box_hexa">
                        <div class="ibox_hexagon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <a href="#" target="_blank">
                            <h3>Construction</h3>
                        </a>
                    </div>
                    <div class="icon_box_hexa">
                        <div class="ibox_hexagon">
                            <i class="fa fa-building-o"></i>
                        </div>
                        <a href="#" target="_blank">
                            <h3>Décoration</h3>
                        </a>
                    </div>
                </div>
                <div class="act-but">
                    <a href="#" class="btn btn-yellow">Devis</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="right-side">
                    <div class="form-title">
                        <h2>Demander un devis</h2>
                        <p>Contactez nous - 123 456 789</p>
                    </div>

                    <div class="quote-form clearfix"><!-- contact form -->
                        <form class="" action="{{ path('mailer') }}" id="quote" name="quote" method="post" >
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Nom</label>
                                <input type="text" class="form-control" name="name" id="WriteName" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" name="email" id="WriteEmail" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Téléphone</label>
                                <input type="tel" class="form-control" name="phone" id="WritePhone" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Adresse</label>
                                <input type="tel" class="form-control" name="adresse" id="WriteAdd" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">A propos de votre projet</label>
                                <textarea class="form-control" name="message" id="WriteMessage" rows="4" required  ></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button name="submit" type="submit" class="btn btn-black">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="quick-block dart-no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 left-cornar">
                <div class="heading text-center">
                    <h2 class="white">Besoin de consulter un expert ?</h2>
                </div>
                <div class="act-but">
                    <ul><li class="scroll"><a href="#contact" class="btn btn-black">Contactez nous</a></li></ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 right-cornar">
                <div class="heading text-center">
                    <h2 class="white">Besoin de savoir notre expertise ?</h2>
                </div>
                <div class="act-but">
                    <ul>
                        <li class="scroll"><a href="#portfolio" class="btn btn-yellow">Voir Réalisations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

