<div class="clearfix"></div>
<!-- about section-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <div class="about">
                    <div class="heading">
                        <h1>Bienvenue  chez<span class="yellow"> ABMS</span></h1>
                    </div>
                    <p class="dart-fs-18"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></p>
                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                </div>
                <div class="highlight">
                    <div class="icon_box_hexa">
                        <div class="ibox_hexagon">
                            <i class="fa fa-object-ungroup"></i>
                        </div>
                        <a href="#" target="_blank">
                            <h3>design</h3>
                        </a>
                    </div>
                    <div class="icon_box_hexa">
                        <div class="ibox_hexagon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <a href="#" target="_blank">
                            <h3>Construction</h3>
                        </a>
                    </div>
                    <div class="icon_box_hexa">
                        <div class="ibox_hexagon">
                            <i class="fa fa-building-o"></i>
                        </div>
                        <a href="#" target="_blank">
                            <h3>Livraison</h3>
                        </a>
                    </div>
                </div>
                <div class="act-but">
                    <a href="#" class="btn btn-yellow">Devis</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="right-side">
                    <div class="form-title">
                        <h2>Demander un devis</h2>
                        <p>Contactez nous - 123 456 789</p>
                    </div>

                    <div class="quote-form clearfix"><!-- contact form -->
                        <form class="" action="getaquote.php" id="quote" name="quote" method="post" >
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Nom</label>
                                <input type="text" class="form-control" name="WriteName" id="WriteName" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" name="WriteEmail" id="WriteEmail" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Téléphone</label>
                                <input type="tel" class="form-control" name="WritePhone" id="WritePhone" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Adresse</label>
                                <input type="tel" class="form-control" name="WriteAdd" id="WriteAdd" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">A propos de votre projet</label>
                                <textarea class="form-control" name="WritetMessage" id="WriteMessage" rows="4" required  ></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button name="submit" type="submit" class="btn btn-black">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="quick-block dart-no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 left-cornar">
                <div class="heading text-center">
                    <h2 class="white">Besoin de consulter un expert ?</h2>
                    <p class="breng">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="act-but">
                    <a href="#" class="btn btn-black">Contactez nous</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 right-cornar">
                <div class="heading text-center">
                    <h2 class="white">Besoin de savoir notre expertise ?</h2>
                    <p class="breng">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="act-but">
                    <a href="#" class="btn btn-yellow">Voir Réalisations</a>
                </div>
            </div>
        </div>
    </div>
</section>

