<!-- testmonials -->
<section id="client" class="testimonialEight">
    <div class="container">
        <div class="row">
            <div class="heading text-center">
                <h2 class="white">ACTUALITES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>-->
                <div class="carousel slide" id="dart-quote-carousel" data-ride="carousel" data-interval="3000">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#dart-quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#dart-quote-carousel" data-slide-to="1"></li>
                        <li data-target="#dart-quote-carousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p><i>"Sed eget dolor eleifend, vulputate mauris non, ullamcorper dolor. Ut vel tortor id sem hendrerit vehicula. Duis interdum odio vulputate orci ultricies, vitae tempus quam vestibulum. Quisque nulla velit, interdum ac ipsum vel, facilisis tincidunt velit. Phasellus gravida, nisl eget rutrum tincidunt.”</i></p>
                                        <span class="name dart-fs-16">- John Doe</span><br>
                                        <span class="position dart-fs-12">XYZ Inc.</span>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p><i>"Sed eget dolor eleifend, vulputate mauris non, ullamcorper dolor. Ut vel tortor id sem hendrerit vehicula. Duis interdum odio vulputate orci ultricies, vitae tempus quam vestibulum. Quisque nulla velit, interdum ac ipsum vel, facilisis tincidunt velit. Phasellus gravida, nisl eget rutrum tincidunt.”</i></p>
                                        <span class="name dart-fs-16">- John Doe</span><br>
                                        <span class="position dart-fs-12">XYZ Inc.</span>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p><i>"Sed eget dolor eleifend, vulputate mauris non, ullamcorper dolor. Ut vel tortor id sem hendrerit vehicula. Duis interdum odio vulputate orci ultricies, vitae tempus quam vestibulum. Quisque nulla velit, interdum ac ipsum vel, facilisis tincidunt velit. Phasellus gravida, nisl eget rutrum tincidunt.”</i></p>
                                        <span class="name dart-fs-16">- John Doe</span><br>
                                        <span class="position dart-fs-12">XYZ Inc.</span>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
