<!--news-->
<section id="news" class="news dart-pb-30">
    <div class="container">
        <div class="row">
            <div class="heading text-center">
                <h1>ACTUALITES</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="news-block">
                    <div class="blog-img">
                        <img src="{{ asset('/build/images/blog-1.jpg') }}" class="img-responsive" alt="blog">
                        <div class="tag">
                            Architecture
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>l'architecture ...</h4>
                        <p>Par AB Mali Services</p>
                        <a href="#" class="btn btn-outline">Lire plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="news-block">
                    <div class="blog-img">
                        <img src="{{ asset('/build/images/blog-2.jpg') }}" class="img-responsive" alt="blog">
                        <div class="tag">
                            Interior
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>Le design intérieur ...</h4>
                        <p>Par AB Mali Services</p>
                        <a href="#" class="btn btn-outline">Lire plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
