<!--service-->
<section id="services" class="services dart-pb-0">
    <div class="container">
        <div class="row">
            <div class="heading text-center">
                <h1>Nos Services</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 dart-mt-50">
                <div class="feature-wrapper">
                    <div class="feature-content left-feature clearfix">
                        <i class="fa fa-building-o"></i>
                        <div class="feature-text">
                            <h4> Construction </h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore.</p>
                        </div>
                    </div>
                </div><!-- /.feature-wrapper -->

                <div class="feature-wrapper">
                    <div class="feature-content left-feature clearfix">
                        <i class="fa fa-shower"></i>
                        <div class="feature-text">
                            <h4>Services de plomberie</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore.</p>
                        </div>
                    </div>
                </div><!-- /.feature-wrapper -->

                <div class="feature-wrapper">
                    <div class="feature-content left-feature clearfix">
                        <i class="fa fa-paint-brush"></i>
                        <div class="feature-text">
                            <h4>Peinture murale</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore.</p>
                        </div>
                    </div>
                </div><!-- /.feature-wrapper -->

            </div>

            <div class="col-md-4 col-sm-4">
                <div class="fullWidthSix_img hidden-xs">
                    <div class="center-image">
                        <img class="img-responsive" src="{{ asset('build/images/brand/services.jpg') }}" alt="">
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-4 dart-mt-50">
                <div class="feature-wrapper">
                    <div class="feature-content right-feature clearfix">
                        <i class="fa fa-university"></i>
                        <div class="feature-text">
                            <h4>Architecture</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore.</p>
                        </div>
                    </div>
                </div><!-- /.feature-wrapper -->

                <div class="feature-wrapper">
                    <div class="feature-content right-feature clearfix">
                        <i class="fa fa-bed"></i>
                        <div class="feature-text">
                            <h4>Design intérieur</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore.</p>
                        </div>
                    </div>
                </div><!-- /.feature-wrapper -->

                <div class="feature-wrapper">
                    <div class="feature-content right-feature clearfix">
                        <i class="fa fa-home"></i>
                        <div class="feature-text">
                            <h4>Décoration</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore.</p>
                        </div>
                    </div>
                </div><!-- /.feature-wrapper -->

            </div>
        </div>

    </div>
</section>
