<!--whyus-->
<section id="whyus" class="whyus dart-pb-0 dart-pt-0">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-6 col-sm-6">
                <div class="img-wapper">
                    <img src="{{ asset('build/images/whyus.jpg') }}" class="img-responsive" alt="images" />
                </div>
            </div>
            <div class="col-sm-6 accordionstyle_1 accordion_2">
                <div class="accordion-inside">
                    <div class="heading text-left">
                        <h1 class="white">VALEURS</h1>
                        <hr>
                        <p class="breng">Lorem ipsum dolor sit amet, consectetuer adipisci</p>
                    </div>
                    <div class="panel-group" id="accordion_2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightone" aria-expanded="false">
                                        We Create Brilliant Buildings
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseRightone" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                                </div>
                            </div>
                        </div><!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightTwo" aria-expanded="false">
                                        Creative Wall Painting Services
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseRightTwo" class="panel-collapse collapse in" aria-expanded="false">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                                </div>
                            </div>
                        </div><!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightThree" aria-expanded="false">
                                        Great Professional Staff Abroad
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseRightThree" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                                </div>
                            </div>
                        </div><!-- /.panel-default -->
                    </div><!--end of /.panel-group-->
                </div>
            </div><!--end of /.col-sm-6-->
        </div>
    </div>
</section>
