<!--whyus-->
<section id="whyus" class="whyus dart-pb-0 dart-pt-0">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-6 col-sm-6">
                <div class="img-wapper">
                    <img src="{{ asset('build/images/whyus.jpg') }}" class="img-responsive" alt="images" />
                </div>
            </div>
            <div class="col-sm-6 accordionstyle_1 accordion_2">
                <div class="accordion-inside">
                    <div class="heading text-left">
                        <h1 class="white">VALEURS</h1>
                        <hr>
                        <p class="breng">Nous nous engageons à mettre nos atouts professionnels et personnels à votre service.</p>
                    </div>
                    <div class="panel-group" id="accordion_2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightone" aria-expanded="false">
                                        Transparence
                                    </a>
                                </h4>
                            </div>
                        </div><!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightone" aria-expanded="false">
                                        Expertise
                                    </a>
                                </h4>
                            </div>
                        </div><!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightThree" aria-expanded="false">
                                        Confiance
                                    </a>
                                </h4>
                            </div>
                        </div><!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightThree" aria-expanded="false">
                                        Responsabilité
                                    </a>
                                </h4>
                            </div>
                        </div><!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapseRightThree" aria-expanded="false">
                                        Adaptabilité
                                    </a>
                                </h4>
                            </div>
                        </div><!-- /.panel-default -->
                    </div><!--end of /.panel-group-->
                </div>
            </div><!--end of /.col-sm-6-->
        </div>
    </div>
</section>
