<!--footer-->
<footer>
    <div class="container">
        <div class="row cont-info">
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-map-marker"></i>
                    <p class="dart-fs-16">ABMS, 9-11 avenue<br>Michelet 93400 Saint-Ouen</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-phone"></i>
                    <p class="dart-fs-16">+223 94121239 (Mali)<br>06 23 35 02 97</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-envelope-o"></i>
                    <p class="dart-fs-16">contact@abmaliservices.com
                        <br>www.abmaliservices.com</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-clock-o"></i>
                    <p class="dart-fs-16">Lundi - Vendredi : 9:00 AM - 5:00PM<br>Sat 9:00 AM - 2:00PM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <p class="text-center">© 2019 AB Mali Services All Rights Reserved</p>
    </div>
</footer>
