<!--footer-->
<footer>
    <div class="container">
        <div class="row cont-info">
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-map-marker"></i>
                    <p class="dart-fs-16">05 ABMS Group Constructions,<br>France,Paris, ile de France</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-phone"></i>
                    <p class="dart-fs-16">+1 123 456 7890<br>+1 321 654 9870</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-envelope-o"></i>
                    <p class="dart-fs-16">Info@abms.com<br>Support@abms.com</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="contact-info">
                    <i class="fa fa-clock-o"></i>
                    <p class="dart-fs-16">Lundi - Vendredi : 9:00 AM - 5:00PM<br>Sat 9:00 AM - 2:00PM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <p class="text-center">© 2019 AB Mali Services All Rights Reserved</p>
    </div>
</footer>
