<div class="loader">
    <div id="awsload-pageloading">
        <div class="awsload-wrap">
            <ul class="awsload-divi">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

<!-- loader end -->

<!-- Start top area -->
<div class="top-container">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="top-column-left">
                <ul class="contact-line">
                    <li><i class="fa fa-envelope"></i>info@adms.com</li>
                    <li><i class="fa fa-phone"></i>(0021)-123-456-789-90</li>
                </ul>
            </div>
            <div class="top-column-right">
                <div class="top-social-network">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End top area -->
<div class="clearfix"></div>

<!-- Nav Section -->
<nav class="navbar navbar-default navbar-sticky navbar-fixed navbar-scrollspy awesomenav" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

    <!-- End Top Search -->
    <div class="container-fluid">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand"><img src="{{ asset('build/images/brand/logo.png') }}" class="logo logo-scrolled" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">

            <ul class="nav navbar-nav navbar-right">
                <li class="active scroll"><a href="#home">ACCUEIL</a></li>
                <li class="scroll"><a href="#about">A PROPOS</a></li>
                <li class="scroll"><a href="#services">SERVICES</a></li>
                <li class="scroll"><a href="#project">METIERS</a></li>
                <li class="scroll"><a href="#team">EQUIPE</a></li>
                <li class="scroll"><a href="#whyus">VALEURS</a></li>
                <li class="scroll"><a href="#portfolio">PORTOFOLIO</a></li>
                <li class="scroll"><a href="#client">ACTUALITES</a></li>
                <li class="scroll"><a href="#contact">CONTACT </a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

